main {
  width: 400px;
  margin: auto;
  text-align: center;
}

.jatekter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.jatekter div {
  aspect-ratio: 1;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 35px;
}
